<!DOCTYPE html>
<html lang="pl-PL">
{% include 'head.html' %}
<body>
{% include 'navbar.html' %}
<br>
<div class="ui centered grid">
    <div class="three wide column">
        <div class="ui inverted segment">
            <h4><i class="address card icon"></i> User data</h4>
            <div class="ui centered cards">
                <div class="ui inverted center aligned basic card" style="background-color: {{user.card_color}}">
                    <div class="content">
                        <div class="meta">
                            <div class="large ui centered grey circular label" style="background-color: {{user.color}}">
                                {{user.icon}}
                            </div>
                            <span class="right floated like">#{{user.id}}</span>
                        </div>
                        <div class="description" style="font-size: 12pt;">
                            <p class="large ui fluid centered grey basic label">
                                {{user.initials}} {{user.name}}
                            </p>
                            <p class="large ui fluid centered grey label" style="background-color: {{user.color}}">
                                Logo Color: {{user.color}}
                            </p>
                            <p class="large ui fluid centered black basic label"
                               style="background-color: {{user.card_color}}">
                                Card Color: {{user.card_color}}
                            </p>
                        </div>
                    </div>
                    <div class="extra content">
                        <a href="/user_management/user/{{user.id}}" class="ui teal button">
                            <i class="edit icon"></i> Edit
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui inverted segment">
            <h4>Cards</h4>
            <table class="ui selectable inverted table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Emotions</th>
                    <th>Author</th>
                    <th>Type</th>
                    <th>Points</th>
                    <th>Sum</th>
                    <th>Visible</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for card in cards %}
                <tr>
                    <td>{{card.id}}</td>
                    <td>{{card.name}}</td>
                    <td>{{card.emotions}}</td>
                    <td>{{card.author}}</td>
                    <td>{{card.type}}</td>
                    <td>{{card.points}}</td>
                    <td>{{card.points_sum}}</td>
                    <td>
                        <div hx-trigger="click" hx-get="/user_management/showcard/{{card.id}}"
                             class="ui black icon button">
                            {% if card.show == True %}
                            <i class="green check circle icon"></i>
                            {% else %}
                            <i class="red times circle icon"></i>
                            {% endif %}
                        </div>

                    </td>
                    <td>
                        <a href="/user_management/card/{{card.id}}" class="ui teal button">
                            <i class="edit icon"></i>
                            Edit
                        </a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui inverted segment">
            <h4>Rating</h4>
            <table class="ui selectable striped inverted table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Author</th>
                    <th>Value</th>
                    <th>Visible</th>
                </tr>
                </thead>
                <tbody>
                {% for vote in votes %}
                <tr>
                    <td>{{vote.id}}</td>
                    <td>{{vote.author}}</td>
                    <td>{{vote.value}}</td>
                    <td>
                        <a href="/user_management/show_vote/{{vote.id}}" class="ui black icon button">
                            {% if vote.show == True %}
                            <i class="green check circle outline icon"></i>
                            {% else %}
                            <i class="red times circle icon"></i>
                            {% endif %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="ui inverted segment">
            <h4>Points</h4>
            <table class="ui selectable striped inverted table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                {% for point_row in points %}
                <tr>
                    <td>{{point_row.points_6}}</td>
                    <td>{{point_row.name_6}}</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>{{point_row.points_3}}</td>
                    <td>{{point_row.name_3}}</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>{{point_row.points_1}}</td>
                    <td>{{point_row.name_1}}</td>
                    <td>1</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% include 'footer.html' %}
<script type="text/javascript" src="/static/js/htmx.min.js"></script>
</body>
</html>