<!DOCTYPE html>
<html lang="pl-PL">
{% include 'head.html' %}
<body>
  {% include 'navbar.html' %}
  <div id="main-window" class="main-window">
      <div class="middle-cont">
          {% if message %}
            <span>{{message}}</span>
          {% endif %}
      </div>
      <div class="middle-cont">
          <div class="cards">
              <form method="post" class="form-main">
                  <div class="form-card">
                      <span class="form-line">
                          <label class="form-label">Initials:</label>
                          <input type="text" class="form-element" name="user_initials" maxlength="40" value="{{user.initials}}"/>
                      </span>
                      <span class="form-line">
                          <label class="form-label">Name:</label>
                          <input type="text" class="form-element" name="user_name" maxlength="40" value="{{user.name}}"/>
                      </span>
                      <span class="form-line">
                          <label class="form-label">Icon:</label>
                          <select name="user_icon" class="form-element">
                              <option value="{{user.icon}}">{{user.icon}}</option>
                              <option value="🐳">🐳</option>
                              <option value="🐦">🐦</option>
                              <option value="🐵">🐵</option>
                              <option value="🐴">🐴</option>
                              <option value="🐨">🐨</option>
                              <option value="🐺">🐺</option>
                              <option value="🐙">🐙</option>
                              <option value="🦇">🦇</option>
                              <option value="🦅">🦅</option>
                              <option value="🐘">🐘</option>
                              <option value="🐘">🐘</option>
                              <option value="🦧">🦧</option>
                              <option value="🦗">🦗</option>
                              <option value="🦟">🦟</option>
                              <option value="🐓">🐓</option>
                              <option value="🐠">🐠</option>
                              <option value="🦙">🦙</option>
                              <option value="🦓">🦓</option>
                              <option value="🦝">🦝</option>
                              <option value="🦉">🦉</option>
                              <option value="🦊">🦊</option>
                              <option value="🦘">🦘</option>
                              <option value="🐝">🐝</option>
                          </select>
                      </span>
                      <span class="form-line">
                          <label class="form-label">Avatar color:</label>
                          <input type="color" class="form-element" name="user_color" maxlength="40" value="{{user.color}}"/>
                      </span>
                      <span class="form-line">
                          <label class="form-label">Card color:</label>
                          <input type="color" class="form-element" name="user_card_color" maxlength="40" value="{{user.card_color}}"/>
                      </span>
                      <span class="form-line">
                          <label class="form-label">User role:</label>
                          <input type="text" class="form-element" name="user_role" maxlength="40" value="{{user.role}}"/>
                      </span>
                      <span class="form-line"><button type="submit" class="form-btn" name="save_user_btn" value="save_user">Save</button></span>
                  </div>
              </form>
          </div>
      </div>
      {% include 'footer.html' %}
  </div>
</body>
</html>