{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<div class="ui centered grid">
    <div class="six wide column">
        <div class="ui inverted segment">
            <div class="ui inverted form">
                <div class="three fields">
                    <div class="field">
                        <label>Initials:</label>
                        <input class="custom-select" type="text" name="user_initials" maxlength="40"
                               value="{{user.initials}}"/>
                    </div>
                    <div class="field">
                        <label>Name:</label>
                        <input class="custom-select" type="text" name="user_name" maxlength="40" value="{{user.name}}"/>
                    </div>
                    <div class="field">
                        <label>Icon:</label>
                        <select class="custom-select" name="user_icon">
                            <option value="{{user.icon}}">{{user.icon}}</option>
                            <option value="🐳">🐳</option>
                            <option value="🐦">🐦</option>
                            <option value="🐵">🐵</option>
                            <option value="🐴">🐴</option>
                            <option value="🐨">🐨</option>
                            <option value="🐺">🐺</option>
                            <option value="🐙">🐙</option>
                            <option value="🦇">🦇</option>
                            <option value="🦅">🦅</option>
                            <option value="🐘">🐘</option>
                            <option value="🐘">🐘</option>
                            <option value="🦧">🦧</option>
                            <option value="🦗">🦗</option>
                            <option value="🦟">🦟</option>
                            <option value="🐓">🐓</option>
                            <option value="🐠">🐠</option>
                            <option value="🦙">🦙</option>
                            <option value="🦓">🦓</option>
                            <option value="🦝">🦝</option>
                            <option value="🦉">🦉</option>
                            <option value="🦊">🦊</option>
                            <option value="🦘">🦘</option>
                            <option value="🐝">🐝</option>
                        </select>
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label>User role:</label>
                        <input class="custom-select" type="text" name="user_role" value="{{user.role}}"/>
                    </div>
                    <div class="field">
                        <label>Avatar color:</label>
                        <input class="custom-select" type="color" name="user_color" value="{{user.color}}"/>
                    </div>
                    <div class="field">
                        <label>Card color:</label>
                        <input class="custom-select" type="color" name="user_card_color" value="{{user.card_color}}"/>
                    </div>
                </div>
                <button class="fluid big ui yellow2 button"
                        hx-trigger="click" hx-target="#output" hx-get="/management/user/{{user.id}}/save-new-data"
                        hx-include="[name='user_initials'],[name='user_name'],[name='user_icon'],[name='user_role'],[name='user_color'],[name='user_card_color']">
                    Save
                </button>
                <div id="output"></div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
{% endblock %}