{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<div class="ui centered grid">
    <div class="ui six wide column">
        <div class="ui inverted segment">
            <div class="ui inverted form">
                <div class="field">
                    <label>Text:</label>
                    <textarea class="form-textarea" name="card_text" maxlength="300" rows="3"
                              cols="50">{{card.name}}</textarea>
                </div>
                <div class="field">
                    <label>Emotions:</label>
                    <input type="text" name="card_emotions" class="custom-select" value="{{card.emotions}}"/>
                </div>
                <div class="field">
                    <label>Points:</label>
                    <input type="text" name="card_points" class="custom-select" value="{{card.points}}"/>
                </div>
                <div class="field">
                    <label>Type:</label>
                    <select name="card_type" class="custom-select">
                        {% for elem in ["positive", "negative"] %}
                        {% if card.type == elem %}
                        <option value="{{elem}}" selected>{{elem}}</option>
                        {% else %}
                        <option value="{{elem}}">{{elem}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <button class="fluid large ui yellow2 button"
                        hx-trigger="click" hx-get="/management/cards/{{card.id}}/save-new-data" hx-target="#output"
                        hx-include="[name='card_text'],[name='card_emotions'],[name='card_points'],[name='card_type']">
                    Save
                </button>
                <div id="output">Output:</div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
{% endblock %}