.author-BA {
    background-color: #671515;
    color: #bbb;
}

.author-AA {
    background-color: #326715;
    color: #bbb;
}

.author-BB {
    background-color: #154767;
    color: #bbb;
}

.author-CC {
    background-color: #591567;
    color: #bbb;
}

.author-DD {
    background-color: #5b33de;
    color: #bbb;
}