.main-window {
    margin-right: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #24242b;
  font-family: "Montserrat",sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6p rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.middle-cont {
  color: #bbb;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.header-btn-small {
    border: 2px solid #d2ad11;
    font-size: 18px;
    border-radius: 80px;
    padding: 10px 10px;
    margin: 0.1em 0;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    background-color: #d2ad11;
    color: #fff;
}

.header-bar {
    background-color: #000000a6;
    padding: 10px;
    line-height: 30px;
    text-align: left;
    vertical-align: middle;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
}

.navbar a:hover{
    border: 2px solid #d2ad11;
    border-radius: 20px;
    background-color: #444;
}

.header-btn-small a {
    color: #fff;
    text-decoration: none;
}

.header-btn-small a:hover {
    color: #d2ad11;
}

.header-btn-small:hover {
    color: #d2ad11;
    background-color: #fff;
}

.footer-bar {
    bottom: 0;
    margin: auto;
    background-color: #000000a6;
    color: #bbb;
    padding: 20px 0;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.cards {
    display: inline-block;
}

.card {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    border-radius: 5px;
    width: 250px;
    padding: 0.1em 0;
    color: #333;
    position: relative;
}

.card-title {
    padding: 1em;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
}

.card-line {
    padding: 0.2em;
    font-size: 18px;
    display: block;
}

.card-main {
    padding: 0.2em;
    font-size: 18px;
    display: block;
    min-height: 70px;
    /*background-color: #d2ad11;*/
    background-color: #ceb553;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 0.2em;
    margin-right: 0.2em;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}

.card-main:hover {
    background-color: #f9efc8;
}

.card-line-text {
    padding: 0.9em;
    font-size: 18px;
    min-height: 85px;
    display: table-cell;
    vertical-align: middle;
    height: 85px;
    width: 200px;
}

.card-line-text-large {
    width: 445px;
}

.card-line-border {
    padding: 0.2em;
    font-size: 16px;
    display: block;
}

.card-line-details {
    display:block;
}

.card-line-footer {
    padding: 0.2em;
    font-size: 16px;
    display: block;
    font-size: 16px;
    color: #444;
}

.card-line-emotion {
    padding: 0.2em 0.5em 0.2em 1.0em;
    display: block;
    font-size: 14px;
    position: absolute;
    /*background-color: #d4d4d4;*/
    background-color: #565656;
    border-radius: 4px;
    /*color: #000000;*/
    color: #dedede;
    left: 30px;
    top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.card-line-author {
    padding: 0.4em;
    display: block;
    font-size: 18px;
    color: #444;
    position: absolute;
    background-color: #f3ebeb;
    border-radius: 26px;
    line-height: 26px;
    left: 0;
    top: 0;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.card-line-id {
    padding: 0.2em;
    display: block;
    font-size: 14px;
    color: #565656;
    text-align: right;
    position: absolute;
    bottom: 5px;
    left: 20px;
}

.card-line-points {
    padding: 0.2em;
    display: block;
    font-size: 14px;
    color: #565656;
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.card-small {
    width: 250px;
}

.card-large {
    width: 505px;
}

.active {
    background-color: #00953a;
}

.title-large {
    font-size: 20px;
}

.title-medium {
    font-size: 20px;
}

.title-small {
    font-size: 14px;
}

.button-large {
    margin: 0;
    padding: 1em;
    border-radius: 5px;
    background-color: #777;
    color: #eaeaea;
}

.middle-title {
    font-size: 24px;
    text-align: center;
    display: block;
    font-weight: bold;
    padding: 0.2em;
}

.form-main {
    font-size: 20px;
}

.form-card {
    border: 1px solid #696969;
    border-radius: 10px;
    padding: 2em;
    box-shadow: 10px 10px 10px rgba(0,0,0,.2);
}

.form-line {
    display: flex;
    text-align: right;
    padding: 0.2em;
}

.form-element {
    width: 500px;
    font-size: 20px;
    background-color: #afafaf;
    border: none;
    border-radius: 5px;
}

.form-element-sm {
    width: 250px;
    font-size: 20px;
    background-color: #afafaf;
    border: none;
    border-radius: 5px;
}

.form-textarea {
    width: 500px;
    overflow-wrap: break-word;
    resize: none;
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
    background-color: #afafaf;
    border: none;
    border-radius: 5px;
}

.form-label {
    width: 200px;
    padding: 0.2em;
}

.form-label-sm {
    width: 100px;
    padding: 0.2em;
}

.form-btn {
    margin: 0.1em;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 1em 0.2em;
    background-color: #d2ad11;
    color: #333;
    width: 100%;
    font-size: 20px;
}

.form-btn-sm {
    margin: 0.1em;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 0.2em 0.2em;
    background-color: #d2ad11;
    color: #333;
    width: 100%;
    font-size: 20px;
}

input, select, textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.header-area {
    border: 1px solid #555;
    padding: 0.5em 1.5em;
    margin: 0.2em;
    font-size: 20px;
}

.logo-author-small {
    padding: 0.4em;
    display: inline-block;
    font-size: 14px;
    color: #eaeaea;
    background-color: #6b6b6b;
    border-radius: 16px;
    line-height: 16px;
}

.navbar-info {
    color: #555;
    margin: 0 0.5em;
}

.vote-label {
    margin: 0 0.2em;
}

.board_good {
    /*background-color: #5e7769;*/
    /*background-color: #183123;*/
    /*background-color: #304c3c;*/
    background-color: #252b24;
}

.board_bad {
    /*background-color: #775e5e;*/
    /*background-color: #3c0a0a;*/
    /*background-color: #3a2828;*/
    background-color: #2b2424;
}
