.main-window {
    margin-right: 0;
    width: 100%;
}

body {
  font-family:  'Source Sans Pro', sans-serif;
  background-color: #24242b;
  color: #aaa;
}

.header {text-align: center; border-bottom: 1px solid #aaa; margin: 0 40px;}
.footer {width: 100%; text-align: center;}