.table {
    border: 1px solid #656565;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em;
    width: 100%;
    background-color: #ababab;
    color: #1e1e21;
}

.table td{
    border: 1px solid #656565;
    padding: 0.3em 1em;
}

.table th{
    border: 1px solid #656565;
    background-color: #d2ad11;
    padding: 0.3em 1em;
}

.table tr{
    border: 1px solid #656565;
}

.table tr:hover{
    background: #ceb87c;
}

tr:nth-child(even) {background-color: #999;}

.table a:link {
  color: #0c0c0c;
  text-decoration-line: none;
}

.table a:visited {
  color: #0c0c0c;
}

.table a:hover {
  color: #777;
}

.table a:active {
  color: #0c0c0c;
}