<!DOCTYPE html>
<html lang="pl-PL">
{% include 'head.html' %}
<body>
{% include 'navbar.html' %}
<br>
<div class="ui centered grid">
    <div class="ui six wide column">
        <div class="ui inverted segment">
            <h2>New card</h2>
            <form method="post" class="ui inverted form">
                <div class="field">
                    <label>Text (300-chars):</label>
                    <textarea name="card_text" class="custom-select" maxlength="300" rows="3" cols="50"
                              required></textarea>
                </div>
                <div class="field">
                    <label>Emotions (40-chars):</label>
                    <input type="text" name="card_emotions" class="custom-select" maxlength="40" required/>
                </div>
                <div class="field">
                    <label>Type:</label>
                    <select name="card_type" class="custom-select" required>
                        <option value=""></option>
                        <option value=" ">good</option>
                        <option value="bad">bad</option>
                    </select>
                </div>
                <button class="big fluid ui yellow2 button"
                        hx-trigger="click" hx-get="/cards/add_card" hx-target="#output"
                        hx-include="[name='card_text'],[name='card_emotions'],[name='card_type']">
                    Add card
                </button>
                <div id="output"></div>
            </form>
        </div>
    </div>
    <div class="ui six wide column">
        <div class="ui inverted segment">
            <h2>Last retro rating</h2>
            <div class="ui inverted form">
                <div class="field">
                    <label>Vote:</label>
                    <select name="vote_type" class="custom-select" required>
                        <option value=""></option>
                        <option value="+">positive</option>
                        <option value="-">negative</option>
                    </select>
                </div>
                <button class="big fluid ui yellow2 button" hx-trigger="click" hx-get="/cards/vote"
                        hx-target="#output2" hx-include="[name='vote_type']">
                    Save
                </button>
                <div id="output2"></div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
<script type="text/javascript" src="/static/js/htmx.min.js"></script>
</body>
</html>