<!DOCTYPE html>
<html lang="pl-PL">
{% include 'head.html' %}
<body class="body-bck">
  {% include 'navbar.html' %}
  <div id="main-window" class="main-window">
      <div class="middle-cont">
          {% if message %}
            <span>{{message}}</span>
          {% endif %}
      </div>
      <div class="middle-cont">
          <div class="cards">
              <form method="post" class="form-main">
                  <div class="form-card">
                      <span class="form-line">
                          <label class="form-label">Text (300-chars):</label>
                          <textarea class="form-textarea" name="card_text" maxlength="300" rows="3" cols="50" required></textarea>
                      </span>
                      <span class="form-line">
                          <label class="form-label">Emotions (40-chars):</label>
                          <input type="text" class="form-element" name="card_emotions" maxlength="40" required/>
                      </span>
                      <span class="form-line"><label class="form-label">Type:</label>
                          <select name="card_type" class="form-element" required>
                              <option value=""></option>
                              <option value="good">good</option>
                              <option value="bad">bad</option>
                          </select>
                      </span>
                      <span class="form-line"><button type="submit" class="form-btn" name="add_card_btn" value="add_card">Add card</button></span>
                  </div>
              </form>
              <form method="post" class="form-main">
                  <div class="form-card">
                     <span class="form-line"><label class="form-label">Vote:</label>
                          <select name="vote_type" class="form-element" required>
                              <option value=""></option>
                              <option value="+">positive</option>
                              <option value="-">negative</option>
                          </select>
                      </span>
                      <span class="form-line"><button type="submit" class="form-btn" name="vote_btn" value="vote_btn">Vote</button></span>
                  </div>
              </form>
          </div>
      </div>
      {% include 'footer.html' %}
  </div>
</body>
</html>