<div id="main-window" class="main-window">
  <div class="middle-cont">
      <span class="middle-title">+</span>
      <div class="cards">
          {% for card in good_cards %}
            {% include 'card.html' %}
          {% endfor %}
      </div>
  </div>
  <hr>
  <div class="middle-cont">
      <span class="middle-title">-</span>
      <div class="cards">
          {% for card in bad_cards %}
            {% include 'card.html' %}
          {% endfor %}
      </div>
  </div>
  {% include 'footer.html' %}
</div>