{% if card.show == true %}
  <div class="card{{' card-large' if card.name|length > 80}}">
      <span class="card-main{{' highlight_card' if card.highlight == true}}" style="background-color: {{card.card_color}}">
          <span class="card-line-text{{' card-line-text-large' if card.name|length > 80}}">
              {% if card.name|length > 180 %}
                <span title="{{card.name}}">{{card.name[0:180]}}..․</span>
              {% else %}
                <span>{{card.name}}</span>
              {% endif %}
              <span class="card-line-id">#{{card.id}}</span>
              {% if card.points  != '' and show_points == true %}
              <span class="card-line-points">{{card.points}} = {{card.points_sum}} {{ card.points_emoji }}</span>
              {% endif %}
          </span>
      </span>
      {% if card.emotions|length > 15 %}
      <span class="card-line-emotion" title="{{card.emotions}}">{{card.emotions[0:15]}}...</span>
      {% else %}
      <span class="card-line-emotion">{{card.emotions}}</span>
      {% endif %}
      <span class="card-line-author author-{{card.author}}" title="{{card.author}}" style="background-color: {{card.author_color}}">{{card.author_icon}}</span>
  </div>
{% endif %}