{% extends 'base.html' %}

{% block content %}
<div class="ui inverted flyout" hx-trigger="load" hx-get="/user/load-menu">
    <i class="close icon"></i>
    <div class="ui header">
        <div class="content">
            Quick actions menu
        </div>
    </div>
    <div class="content">
        <p>Loading</p>
    </div>
</div>
<div class="pusher" style="background-color: #24242b;">
    {% include 'navbar.html' %}
    <div class="ui centered grid">
        <div class="ui inverted segment" id="board_container">
            {% include 'components/board_static.html' %}
        </div>
    </div>
    {% include 'footer.html' %}
</div>
<div class="ui inverted modal" id="basic_modal_output"></div>
{% endblock %}