<!DOCTYPE html>
<html lang="pl-PL">
{% include 'head.html' %}
<body>
{% include 'navbar.html' %}
<br>
<div class="ui basic three cards">
    {% if show_goals == true %}
    {% for card in cards %}
    <div class="ui inverted card">
        <div class="content">
            <div class="description">
                <div class="ui inverted form">
                    {% if active_user and active_user.role == 'admin' %}
                    <div class="field">
                        <label>{{ card.author }} | {{ card.name }} | {{ card.emotions }} | {{ card.points_sum }}</label>
                        <textarea class="form-textarea-goals" id="goals_{{card.id}}" name="goals_{{card.id}}" rows="7">{{card.goals}}</textarea>
                    </div>
                    <button class="ui yellow2 button" hx-trigger="click"
                            hx-get="/goals/save/{{card.id}}" hx-include="[name='goals_{{card.id}}']"
                            hx-target="#output_{{card.id}}">Save
                    </button>
                    <span id="output_{{card.id}}"></span>
                    {% else %}
                    <div>
                        <span> {{ card.author }} | {{ card.name }} | {{ card.emotions }} | {{ card.points_sum }}</span>
                        <div>{% autoescape false %}{{ card.goals | replace("\n", "<br/>") }}{% endautoescape %}</div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% include 'footer.html' %}
</div>
<script type="text/javascript" src="/static/js/htmx.min.js"></script>
</body>
</html>