<!DOCTYPE html>
<html lang="pl-PL">
{% include 'head.html' %}
<body class="body-bck">
<div id="main-window" class="main-window">
  <div class="middle-cont">
      <div class="main-icons">
          <span class="logo-icon" style="background-color: #888888">🐳</span>
          <span class="logo-icon" style="background-color: #016d6d">🐦</span>
          <span class="logo-icon" style="background-color: #154767">🐵</span>
          <span class="logo-icon" style="background-color: #414e90">🐴</span>
          <span class="logo-icon" style="background-color: #671515">🐨</span>
          <span class="logo-icon" style="background-color: #326715">🐺</span>
          <span class="logo-icon" style="background-color: #153267">🐙</span>
          <span class="logo-icon" style="background-color: #925312">🦇</span>
          <span class="logo-icon" style="background-color: #797d32">🦅</span>
      </div>
      <div class="main-cont">
          <span>Logged as: {{ username }}</span>
          <span class=""><a href="/logout">Logout</a></span>
      </div>
  </div>
</div>
</body>
</html>