<div class="ui inverted stackable menu">
    {% if active_user and quick_action %}
    <a class="ui teal icon item" onclick="$('.ui.flyout').flyout('toggle');"><i class="angle double right icon"></i></a>
    {% endif %}
    <a href="/" class="ui item"><i class="home icon"></i> Board</a>
    {% if active_user %}
    <a href="/add_card" class="ui item"><i class="plus square icon"></i> Add Card</a>
    <a href="/vote" class="ui item"><i class="vote yea icon"></i> Vote</a>
    {% endif %}
    <a href="/goals" class="ui item"><i class="yellow bullseye icon"></i> Goals</a>

    {% if quick_action %}
    <div class="ui item">
        <div class="tiny ui inverted toggle checkbox">
            <input type="checkbox" name="auto_refresh_checkbox" hx-trigger="change"
                   hx-get="/get_auto_refresh_trigger" hx-target="#board_container"
                   hx-include="[name='auto_refresh_checkbox']">
            <label>Auto Refresh</label>
        </div>
    </div>
    {% endif %}

    <div class="right menu">
        {% if active_user %}
        <div class="ui item" style="background-color: {{active_user.color}}">
            {{active_user.icon}} {{ active_user.name }}
        </div>
        {% endif %}

        {% if active_user and active_user.role == 'admin' %}
        <a href="/management/panel" class="ui item">
            <i class="blue users icon"></i>
            Admin Panel
        </a>
        {% endif %}

        {% if active_user %}
        <a href="/user_management/configuration" class="ui item"><i class="cog icon"></i> Settings</a>
        <a href="/logout" class="ui item"><i class="sign out alternate icon"></i> Logout</a>
        {% else %}
        <a href="/login" class="ui item"> Sign in</a>
        {% endif %}

    </div>
</div>
