<!DOCTYPE html>
<html lang="pl-PL">
{% include 'head.html' %}
<body>
{% include 'navbar.html' %}
<br>
<div class="ui centered grid">
    <div class="ui inverted segment">
        {% include 'components/dashboard_points.html' %}
        <h4 class="ui horizontal divider header">
            <i class="olive plus circle icon"></i> Positive
        </h4>
        <div class="board_good">
            <div hx-trigger="load, every 10s" hx-get="/cards/good/load" class="ui centered basic cards"></div>
        </div>
        <h4 class="ui horizontal divider header">
            <i class="pink minus circle icon"></i> Negative
        </h4>
        <div class="board_bad">
            <div hx-trigger="load, every 10s" hx-get="/cards/bad/load" class="ui centered basic cards"></div>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
<div class="ui inverted modal" id="basic_modal_output"></div>
<script type="text/javascript" src="/static/js/htmx.min.js"></script>
</body>
</html>