<!DOCTYPE html>
<html lang="pl-PL">
{% include 'head.html' %}
<body>
{% include 'navbar.html' %}
<br>
<div class="ui centered grid">
    {% include 'components/dashboard_points.html' %}
    <div class="ui inverted segment board_good">
        <div class="cards">
            <div hx-trigger="load, every 10s" hx-get="/cards/good/load"></div>
        </div>
    </div>
    <div class="ui inverted segment board_bad">
        <div class="cards">
            <div hx-trigger="load, every 10s" hx-get="/cards/bad/load"></div>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
<script type="text/javascript" src="/static/js/htmx.min.js"></script>
</body>
</html>