<!DOCTYPE html>
<html lang="pl-PL">
{% include 'head.html' %}
<body>
{% include 'navbar.html' %}
<br>
<div class="ui centered grid">
    {% if message %}
    <div class="ui row">
        <div class="ui inverted segment">
            <span>{{message}}</span>
        </div>
    </div>
    {% endif %}
    {% if show_voting == true %}
    {% if already_voted != true %}
    <div class="ui row">
        <div class="ui inverted segment">
            <h2 class="ui header">Vote</h2>
            <form method="post" class="ui inverted form">
                <div class="field">
                    <label>6 points: </label>
                    <select name="points_6" class="custom-select large-select" required>
                        <option value=""></option>
                        {% for card in cards %}
                        <option value={{card.id}}>#{{card.id}} {{card.type}} - {{card.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label>3 points: </label>
                    <select name="points_3" class="custom-select large-select" required>
                        <option value=""></option>
                        {% for card in cards %}
                        <option value={{card.id}}>#{{card.id}} {{card.type}} - {{card.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label>1 points: </label>
                    <select name="points_1" class="custom-select large-select" required>
                        <option value=""></option>
                        {% for card in cards %}
                        <option value={{card.id}}>#{{card.id}} {{card.type}} - {{card.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="fluid big ui yellow2 icon button" name="vote_btn" value="vote_btn">
                    Vote <i class="vote yea icon"></i>
                </button>
            </form>
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>
{% include 'footer.html' %}
</body>
</html>