{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<div class="ui centered grid">
    <div class="ui row">
        <div class="ui inverted segment">
            <h2 class="ui header">Vote on cards</h2>
            {% if show_voting == false or already_voted == true %}
            <div>You have already voted.</div>
            {% else %}
            <div class="ui inverted form">
                <div class="field">
                    <label>6 points: </label>
                    <select name="points_6" class="custom-select" required>
                        <option value=""></option>
                        {% for card in cards %}
                        <option value={{card.id}}>#{{card.id}} {{card.type}} - {{card.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label>3 points: </label>
                    <select name="points_3" class="custom-select" required>
                        <option value=""></option>
                        {% for card in cards %}
                        <option value={{card.id}}>#{{card.id}} {{card.type}} - {{card.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label>1 points: </label>
                    <select name="points_1" class="custom-select" required>
                        <option value=""></option>
                        {% for card in cards %}
                        <option value={{card.id}}>#{{card.id}} {{card.type}} - {{card.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="fluid big ui yellow2 icon button"
                        hx-trigger="click" hx-get="/vote-on-cards" hx-target="#vote_output"
                        hx-include="[name='points_6'],[name='points_3'],[name='points_1']">
                    Vote <i class="vote yea icon"></i>
                </button>
                <div id='vote_output'></div>
            </div>
            {% endif %}
        </div>
    </div>
    {% include 'footer.html' %}
</div>
{% endblock %}