{% for card in cards %}
{% if card.show == true %}

{% if card.name|length > 100 %}
{% set custom_class = 'card-xl-wide' %}
{% endif %}

<div class="ui large card {{custom_class}}" style="background-color: {{card.card_color}};">
    <div class="content">
        <div class="meta">{{card.emotions}}
            <span class="right floated like">#{{card.id}}</span>
            {% if card.name|length > 100 %}
            <a class="right floated icon"
               hx-trigger="click" hx-get="/cards/card/{{card.id}}/get_modal" hx-target="#basic_modal_output"
               data-tooltip="Details" data-inverted="">
                <i class="info circle icon"></i>
            </a>
            {% endif %}
        </div>
        <div class="description" style="font-size: 12pt; max-height: 100px;">
            <span class="limit-text">{{card.name}}</span>
        </div>
    </div>
    <div class="extra content" style="padding: .2em .4em;">
        {% if card.points != '' and params.show_points == true %}
        <div class="left floated">
            <div class="ui grey inverted icon label">{{card.points}} = {{card.points_sum}}
                {% autoescape false %}{{ card.points_emoji }}{% endautoescape %}
            </div>
        </div>
        {% endif %}
        <div class="right floated">
             <span class="ui white inverted label" style="background-color: {{card.author_color}}99;">
                {{card.author}} {{card.author_icon}}
            </span>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}