<table class="ui selectable inverted table">
    <thead>
    <tr>
        <th>#</th>
        <th>Type</th>
        <th>Name</th>
        <th>Emotions</th>
        <th>Author</th>
        <th>Points</th>
        <th>Sum</th>
        <th>Visible</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    {% for card in cards %}
    <tr>
        <td>{{card.id}}</td>
        <td>
            {% if card.type == "positive" %}
            <i class="olive plus circle icon"></i>
            {% elif card.type == "negative" %}
            <i class="pink minus circle icon"></i>
            {% else %}
            {{card.type}}
            {% endif %}
        </td>
        <td>{{card.name}}</td>
        <td>{{card.emotions}}</td>
        <td>{{card.author}}</td>
        <td>{{card.points}}</td>
        <td>{{card.points_sum}}</td>
        <td>
            <div hx-trigger="click" hx-get="/cards/card/{{card.id}}/show-card" class="ui black icon button">
                {% if card.show == True %}
                <i class="green check circle icon"></i>
                {% else %}
                <i class="red times circle icon"></i>
                {% endif %}
            </div>
        </td>
        <td><a href="/cards/card/{{card.id}}/edit" class="ui teal button"><i class="edit icon"></i>Edit</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>