<div class="sub-header-bar">
    {% if show_votes %}
    <span class="navbar-info">
        {% for vote in votes %}
            {% if vote.show == true %}
                <span class="vote-label">
                    <span class="logo-author-small" title="{{vote.author}}"
                          style="background-color: {{vote.author_color}}">{{vote.author_icon}}</span>
                    {% if vote.value == "+" %}
                    <span>👍</span>
                    {% elif vote.value == "-" %}
                    <span>👎</span>
                    {% else %}
                    <span>{{vote.value}}</span>
                    {% endif %}
                </span>
            {% endif %}
        {% endfor %}
        </span>
    {% endif %}
    {% if sum_cards %}
    <span class="navbar-info">Cards: {{sum_cards}}</span>
    {% endif %}
    {% if sum_points %}
    <span class="navbar-info">Points: {{sum_points}}</span>
    {% endif %}
</div>