{% for vote in votes %}
<div class="big ui grey icon label" style="background-color: {{vote.author_color}}" data-tooltip="{{vote.author}}"
     data-inverted="">
    {{vote.author_icon}}
    {% if vote.value == "+" %}
    <i class="yellow thumbs up icon"></i>
    {% elif vote.value == "-" %}
    <i class="pink thumbs down icon"></i>
    {% else %}
    <span>{{vote.value}}</span>
    {% endif %}
</div>
{% endfor %}

{% if stats.sum_cards %}
<div class="big ui grey label">Cards: {{stats.sum_cards}}</div>
{% endif %}

{% if stats.sum_points %}
<div class="big ui grey label">Points: {{stats.sum_points}}</div>
{% endif %}