<div class="main-icons">
    <p>
        <span class="massive ui red circular label" style="background-color: #888888">🐳</span>
        <span class="massive ui red circular label" style="background-color: #016d6d">🐦</span>
        <span class="massive ui red circular label" style="background-color: #154767">🐵</span>
        <span class="massive ui red circular label" style="background-color: #414e90">🐴</span>
        <span class="massive ui red circular label" style="background-color: #671515">🐨</span>
        <span class="massive ui red circular label" style="background-color: #326715">🐺</span>
    </p>
    <p>
        <span class="massive ui red circular label" style="background-color: #2f45af">🐙</span>
        <span class="massive ui red circular label" style="background-color: #925312">🦇</span>
        <span class="massive ui red circular label" style="background-color: #797d32">🦅</span>
        <span class="massive ui red circular label" style="background-color: #a23a6f">🐘</span>
        <span class="massive ui red circular label" style="background-color: #925312">🦧</span>
        <span class="massive ui red circular label" style="background-color: #323f7d">🦗</span>
    </p>
    <p>
        <span class="massive ui red circular label" style="background-color: #326715">🦟</span>
        <span class="massive ui red circular label" style="background-color: #32737d">🐓</span>
        <span class="massive ui red circular label" style="background-color: #2f45af">🐠</span>
        <span class="massive ui red circular label" style="background-color: #016d6d">🦙</span>
        <span class="massive ui red circular label" style="background-color: #2f45af">🦓</span>
        <span class="massive ui red circular label" style="background-color: #32737d">🦝</span>
    </p>
    <p>
        <span class="massive ui red circular label" style="background-color: #a23a6f">🦥</span>
        <span class="massive ui red circular label" style="background-color: #414e90">🦉</span>
        <span class="massive ui red circular label" style="background-color: #925312">🦊</span>
        <span class="massive ui red circular label" style="background-color: #326715">🦐</span>
        <span class="massive ui red circular label" style="background-color: #a23a6f">🦘</span>
        <span class="massive ui red circular label" style="background-color: #797d32">🐝</span>
    </p>
</div>