<table class="ui selectable striped inverted table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Emotions</th>
        <th>Author</th>
        <th>Type</th>
        <th>Points</th>
        <th>Sum</th>
        <th>Visible</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    {% for card in cards %}
    <tr>
        <td>{{card.id}}</td>
        <td>{{card.name}}</td>
        <td>{{card.emotions}}</td>
        <td>{{card.author}}</td>
        <td>{{card.type}}</td>
        <td>{{card.points}}</td>
        <td>{{card.points_sum}}</td>
        <td>
            <div hx-trigger="click" hx-get="/management/showcard/{{card.id}}" class="ui black icon button">
                {% if card.show == True %}
                <i class="green check circle icon"></i>
                {% else %}
                <i class="red times circle icon"></i>
                {% endif %}
            </div>
        </td>
        <td><a href="/management/card/{{card.id}}" class="ui teal icon button" data-tooltip="Edit" data-inverted=""><i
                class="edit icon"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>